<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.venum.ota"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />
    
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_venum"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.venum.ota.venumOTA"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <!-- testing only    -->
                <category android:name="android.intent.category.LAUNCHER" /> 
             
            </intent-filter>
        </activity>
        <service android:name="updateChecker" android:label="PAC Updates Service">
            <intent-filter>
					<action android:name="com.pac.console.updateChecker" android:label="AppMan Updates Service"/>            
			</intent-filter>
        </service>
        <receiver android:name="bootReciever">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                </intent-filter>
        </receiver>
    </application>

</manifest>
